*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

}

body{
  background-color: black;
}

.navbar {
 
  
  display: flex;
  gap: 20px;
  padding: 40px 70px;
  background-color: #278abf;
  justify-content: space-between;
  
}

.navbar div{
  display: flex;
  gap: 40px;
  padding: 20px;

}

h1{
  text-align: center;
  margin-top: 340px;
  justify-content: center;
  font-size: 50px;
}