*{
  margin: 0%;
  padding: 0%;
  color: white;
}

body{
  background-color: black;
  height: 100%;
  width: 100%;
  
}

input{
  background-color: black;
  margin: 30px;
  padding: 30px 30px;
}

button{
  background-color: black;
  margin: 30px;
  padding: 30px 30px;
}